*/A1/
*/__pycache__/
*/.ipynb_checkpoints/

Assignment0/TASK0/.ipynb_checkpoints/

Assignment0/TASK0/__pycache__/

Assignment1/TASK2/__pycache__/

Assignment1/TASK1/__pycache__/

Assignment1/TASK1/.ipynb_checkpoints/
